.sidebar {
    width: 70px;
    height: 100vh;
    background: white;
    padding: 20px 10px;
    transition: width 0.25s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    /*border-right: 1px solid #e2e2e2;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.sidebar a {
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: none;
}
.sidebar:hover {
    width: 200px;
}
.sidebar-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.sidebar-item:hover {
    background: #f2f2f2;
}
.icon {
    font-size: 24px;
    color: #888;
    transition: 0.2s;
}
.label {
    font-size: 17px;
    opacity: 0;
    white-space: nowrap;
    transition: 0.2s;
    color: #888;
}
.sidebar:hover .label {
    opacity: 1;
}
.sidebar-item.active .icon {
    color: black;
}
.sidebar-item.active .label {
    color: black;
}
.sidebar-item.active {
    background: #eaeaea;
}
@media (max-width: 1024px) {
    .sidebar {
        height: 100vh;
        width: 60px;
    }

    .sidebar:hover {
        width: 180px;
    }

    .label {
        font-size: 15px;
    }
}
@media (max-width: 850px) {
    .sidebar {
        width: 55px;
        padding: 10px 5px;
    }

    .sidebar:hover {
        width: 160px;
    }

    .icon {
        font-size: 22px;
    }

    .label {
        font-size: 14px;
    }
}
@media (max-width: 600px) {
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 55px;
        height: 100vh;
        z-index: 999;
    }

    .sidebar:hover {
        width: 150px;
    }
}
@media (max-width: 480px) {
    .sidebar {
        flex-direction: row;
        width: 100%;
        height: 60px;
        bottom: 0;
        top: auto;
        justify-content: space-around;
        border-top: 1px solid #ddd;
    }

    .sidebar:hover {
        width: 100%;
    }

    .label {
        display: none;
    }
}


